/*@font-face {
	font-family: 'FONT NAME HERE';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/static/fonts/Epilogue/Epilogue-Regular.eot'); *//* IE9 Compat Modes */
	/*src: local('Epilogue Thin'), local('Epilogue-Thin'),
		url('/static/fonts/Epilogue/Epilogue-Thin.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ /*url('/static/fonts/Epilogue/Epilogue-Thin.woff2') format('woff2'),
		/* Super Modern Browsers */ /*url('/static/fonts/Epilogue/Epilogue-Thin.woff') format('woff'),
		/* Modern Browsers */ /*url('/static/fonts/Epilogue/Epilogue-Thin.ttf') format('truetype'),
		/* Safari, Android, iOS */ /*url('/static/fonts/Epilogue/Epilogue-Thin.svg#Epilogue') format('svg'); /* Legacy iOS */
/*}*/

body,
html {
	padding: 0;
	margin: 0;
	font-size: 62.5%;
	font-family: 'Satoshi', sans-serif;
	overflow-x: hidden;
}

div {
	font-size: 1.6rem;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

svg {
	z-index: 2;
}
